.social-image {
  width: 32px; height: 32px;
}

.navbar {
  border-bottom: none;
}

body { padding-top: 50px; }

.jumbotron {
  background-image: url("mara3.jpg");
  min-height:199px
}

.item img {
  margin: auto;
}
